.container {
    position: fixed;
    right: -120%;
    top: 0;
    height: 100vh;
    width: min(400px, 100vw);
    z-index: 50;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease-out;
    display: flex;
    flex-direction: column;
}

.container.active {
    right: 0;
}