.map {
    width: 100VW;
    height: 100%;
    flex-grow: 1;
}

.chat {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -100%;
    width: min(400px, 100%);
    height: 100%;
    background: rgb(224,224,224);
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 51%, rgba(248,248,248,1) 100%);
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.1);
    z-index: 100;
    transition: left 0.6s ease-out;
}

.chat-title {
    color: #aaa;
    text-align: center;
    flex-shrink: 0;
}

.chat-content {
    flex-grow: 1;
    padding: 5px;
    min-height: 0;
    overflow: auto;
    margin: 5px;
    background: #eee;
    border-radius: 10px;
}

/* width */
.chat-content::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.chat-content::-webkit-scrollbar-track {
background: none;
}
  
/* Handle */
.chat-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Handle on hover */
.chat-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-control {
    flex-shrink: 0;
}
